@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --header-height: 112px;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
@layer utilities {
  .prose h1 {
    @apply text-3xl md:text-5xl font-normal font-serif;
  }
  .prose h2 {
    @apply text-xl md:text-3xl font-normal font-serif;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
  }
}

.hide-content > :is(:not(:where(h1, h2, h3, h4, h5, h6, th, .mw-heading))) {
  display: none;
}

input,
textarea,
button,
a {
  touch-action: manipulation;
}

.prose a[href^="http"] {
  border: 0;
}
.prose a[href^="http"]:after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' x2='21' y1='14' y2='3'%3E%3C/line%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  margin-left: 2px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
}

.prose img {
  display: inline;
  margin: 0;
}

@page {
  size: auto; /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 25mm 0in;
}

/**
 * Makes it so no anchor-linked content is hidden behind the header
 * Via https://stackoverflow.com/a/24298427 
 **/
section[id] {
  scroll-margin-top: var(--header-height);
}

.top-header {
  top: var(--header-height);
}

.h-header {
  height: var(--header-height);
}

.test {
  position: relative;
}
.test:after {
  content: "";
  position: absolute;
  pointer-events: none;
  user-select: none;
  inset: 0px;
  opacity: 0.8;
  background: radial-gradient(
    ellipse 50% 50% at center,
    rgba(40, 87, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

.glow {
  z-index: 8;
  width: 100%;
  height: 400px;
  margin-bottom: -400px;
  pointer-events: none;
  user-select: none;
  --top: #000212;
  --bottom: rgb(var(--rgb, 53, 42, 79));
  --first: conic-gradient(from 90deg at 80% 50%, var(--top), var(--bottom));
  --second: conic-gradient(from 270deg at 20% 50%, var(--bottom), var(--top));
  -webkit-mask-image: radial-gradient(100% 50% at center center, black, transparent);
  background-image:;
  background-attachment:;
  background-origin:;
  background-clip:;
  background-color:;
  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size:
    50% 100%,
    50% 100%;
}
.glow:after {
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(140px 50% at 50% 100%, black, transparent);
}
